<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}管理系统{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
<div class="container">
    <nav class="navbar navbar-default mon-nav" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">管理系统</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="{{ root_active }}"><a href="/">首页</a></li>
                <li class="{{ group_list_active }}"><a href="{{ url_for('main.host_group_list') }}">主机组</a></li>
                <li class="{{ vm_list_active }}"><a href="{{ url_for('main.vm_group_list') }}">虚拟机</a></li>
                <li class="{{ alarm_active }}"><a href="{{ url_for('main.alarm_list') }}">告警</a></li>
                <li class="{{ mail_list_active }}"><a href="{{ url_for('main.show_mail') }}">邮件设置</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ 'http://%s:3000' % LOCAL_IP }}">仪表盘</a></li>
                <li><a href="{{ 'http://%s/nagios3' % LOCAL_IP }}">Nagios</a></li>
                <li><a href="{{ 'http://%s/graphite' % LOCAL_IP }}">graphite</a></li>
                <li><a href="{{ 'http://%s/ganglia' % LOCAL_IP }}">ganglia</a></li>
            </ul>
        </div>
    </nav>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>
    {% endfor %}
    {% block content %}{% endblock %}
</div>
{% block footer %}{% endblock %}
{% block footer_scripts %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>