{% extends 'base.html' %}

{% block content %}
<h3>主机组列表</h3>
<hr>
<div>
{% for group in groups %}
    <div>
        <h4><a href="{{ url_for('main.host_group_detail', group_id=group.id) }}">
            {{- group.name }}</a></h4>
        <div>共{{ group.machines | length }}台主机</div>
        <div>{{ group.desc }}</div>
        <button type="button" class="btn btn-danger delete-group" group_id="{{ group.id }}">删除主机组</button>
    </div>
    <hr>
{% endfor %}
</div>
<form class="form-horizontal " role="form" method="post" action="{{ url_for('main.add_group') }}">
    <div class="form-group">
        <label class="col-sm-4 col-lg-offset-2 col-lg-2 control-label">主机组名</label>
        <div class="col-sm-8 col-lg-4">
            {{ form.name(class='form-control', required='') }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 col-lg-offset-2 col-lg-2 control-label">主机组描述</label>
        <div class="col-sm-8 col-lg-4">
            {{ form.desc(class='form-control', required='') }}
        </div>
    </div>
    {{ form.csrf_token(type='hidden') }}
    <div class="form-group">
        <div class="col-sm-12 col-lg-offset-3 col-lg-5 text-center">
            <button type="submit" class="btn btn-info"> 添加主机组 </button>
        </div>
    </div>
</form>
{% endblock %}

{% block footer_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/root.js') }}"></script>
{% endblock %}