{% extends 'base.html' %}

{% block content %}
<h3>单独主机</h3>
<div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>主机IP</th>
            <th>主机名</th>
            <th>SSH用户名</th>
            <th>SSH密码</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for host in hosts %}
        <tr>
            <td>{{ host.id }}</td>
            <td>{{ host.ip }}{{ ' (本机)' if host.is_monitor_host() else '' }}</td>
            <td>{{ host.hostname }}</td>
            <td>{{ host.username }}</td>
            <td>{{ host.password }}</td>
            <td class="">{{ host.state }}{%- if host.state in ('配置完成', '配置失败') -%}
                <button type="button" class="btn btn-default btn-sm config_detail">查看详细</button>
            {%- endif %}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm config_host">部署监控Agent</button>
                <button type="button" class="btn btn-success btn-sm show_service_modal">监控指标</button>
                <input type="hidden" value="{{ '%s;%s' % (host.selected_service_names,
                                                          host.left_service_names) }}">
                <input type="hidden" value="{{ host.id }}">
                <button type="button" class="btn btn-success btn-sm show_group_modal">主机组</button>
                <button type="button" class="btn btn-danger btn-sm remove_host">删除主机</button>

            </td>
        </tr>
        <input type="hidden" id="host-{{ host.id }}-group" value="
        {{- host.groups | join(',', attribute='name') }}">
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-md-offset-4 col-md-3 text-center">
    <button type="button" class="btn btn-info" id="add_host">添加主机</button>
    <button type="button" class="btn btn-info" id="sync">同步配置到Nagios</button>
</div>
{% endblock %}


{% block footer %}
<div class="modal fade" id="service_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="service_modal_title">监控项目</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" >
                </form>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>服务</th><th>warning阀值</th><th>critical阀值</th>
                    </tr>
                    </thead>
                    <tbody id="service_form">

                    </tbody>
                </table>
                <input type="hidden" id="service_host_id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="service_modal_close">关闭</button>
                <button type="button" class="btn btn-primary" id="service_modal_submit">提交更改</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="host_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="host_modal_close">&times;</button>
                <h4 class="modal-title">添加主机</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="{{ url_for('main.add_host') }}">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">主机IP</label>
                        <div class="col-sm-8">
                            {{ host_form.ip(class='form-control', required='') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">主机名</label>
                        <div class="col-sm-8">
                            {{ host_form.hostname(class='form-control', required='') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">SSH用户名</label>
                        <div class="col-sm-8">
                            {{ host_form.username(class='form-control', required='') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">SSH密码</label>
                        <div class="col-sm-8">
                            {{ host_form.password(class='form-control') }}
                        </div>
                    </div>
                    {{ host_form.csrf_token(type='hidden') }}
                    <div class="form-group">
                        <div class="text-center">
                            <button type="submit" class="btn btn-info"> 添加主机 </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="config_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ansible 输出</h4>
            </div>
            <div class="modal-body" >
                <pre id="config_stdout">

                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="config_modal_close">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="move_group_modal">
    <input id="group_list" value="{{ group_list | join(',', attribute='name') }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">把主机添加到主机组</h4>
            </div>
            <div class="modal-body" id="group_selector">

            </div>
            <input type="hidden" value="" id="move_group_modal_host_id">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="move_group_modal_close">关闭</button>
                <button type="button" class="btn btn-primary" id="move_group_modal_commit">提交更改</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/root.js') }}"></script>
    <style>
        .config_detail {
            margin-left: 7px;
        }
    </style>
{% endblock %}